certifi==2025.11.12
charset-normalizer==3.4.4
click==8.2.1
frappe-bench==5.27.0
gitdb==4.0.12
GitPython==3.1.45
honcho==2.0.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
pillow==12.0.0
python-crontab==2.6.0
python-dateutil==2.9.0.post0
qrcode==8.2
requests==2.32.5
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
urllib3==2.5.0
uv==0.9.9
